#red:checked ~ p,
#red:checked ~ label[for="red"] {
  color: red;
}
#green:checked ~ p,
#green:checked ~ label[for="green"] {
  color: green;
}
#blue:checked ~ p,
#blue:checked ~ label[for="blue"] {
  color: blue;
}
