* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #333;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.posts {
  padding: 30px 0;
}
.posts .post-row {
  display: flex;
  margin: 0 -10px;
}

.posts .column-small {
  width: 25%;
}
.posts .column-large {
  width: 50%;
}
.posts .column-small,
.posts .column-large {
  padding: 0 10px;
}
.posts .post-list .post-item {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.posts .post-list .post-item .image {
  width: 35%;
}
.posts .post-list .post-item h2 {
  font-size: 1.4rem;
  width: 65%;
}
.posts .feature-post p {
  padding: 10px 0;
}
.posts .feature-post ul {
  list-style: inside;
  font-weight: bold;
}
.posts .feature-post img {
  height: 329px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.posts .post-list.one-column .post-item {
  display: block;
  border: 0;
}
.posts .post-list.one-column .post-item .image {
  width: 100%;
}
