body {
  height: 1000px;
  /* background-color: yellow;
  background-image: url("https://fastly.picsum.photos/id/278/536/354.jpg?hmac=B3RGgunW6oirJoQEgt80to9HNb7oZqLut-4fFVVc9NM");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: fixed; */
  background: yellow
    url("https://fastly.picsum.photos/id/278/536/354.jpg?hmac=B3RGgunW6oirJoQEgt80to9HNb7oZqLut-4fFVVc9NM")
    no-repeat 0 0 / cover fixed;
}
